{{!-- Metadata for front-end and connections of stylesheets --}}

<head>
    <meta charset="UTF-8">
    <title>Chronoscape</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Rajdhani:wght@500&display=swap"
        rel="stylesheet">
</head>


<body>
    <div class="loader">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="hero-sec" style="display: none; overflow: hidden;">
        <img class="darken" id="background-image" src=""></img>
        <header>
            <nav class="navBar animate__animated animate__slideInLeft">
                {{#if logged_in}}
                <a href="/" class="no-button">Main</a>
                <a href="/profile" class="no-button">Profile</a>
                <button class="no-button red" id="logout">Logout</button>
                {{/if}}
            </nav>
            <h1 class="title_name animate__animated animate__slideInDown">
                Chronoscape
            </h1>
        </header>
    </div>

    <main class="main-body" style="display: none;">
        {{{ body }}}
    </main>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="module" src="/js/background.js"></script>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>