<h2>This is your profile</h2>
<p>Welcome {{user.name}}</p>
<p>This is your MPF Score: {{user.mpf}}</p>
<p>This is your Traveler Score: {{user.traveler}}</p>
<p>This is your Void Score: {{user.void}}</p>


