<div class="profile_ctn">
  <div>
    <h2>Welcome {{user.name}}!</h2>
    <p>MPF Score: {{user.mpf}}</p>
    <p>Traveler Score: {{user.traveler}}</p>
    <p>Void Score: {{user.void}}</p>
  </div>
</div>


<script src="/css/style.css"></script>