:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif, sans-serif;
  width: 100%;
  min-height: 100vh;
  /* background-image: url("./image/giphy\ \(1\).gif");
  background-size: cover; */
}

.hero-sec {
  position: relative;
  background: transparent;  
}

.loader {
	height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #444444);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

header {
  position: absolute;
  top: 10%; right: 0; left: 0;
  margin: auto;
}

.main-body {
  position: absolute;
  top: 30%; right: 0; left: 0;
  margin: auto;
}

#background-image {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.title_name{
  text-align: center;
  color: white;
  
}

.card {
  /* display: inline-block; */
  margin: 0 auto;
  cursor: pointer;
  width: 200px;
  height: 300px;
  padding: 15px;
  border: none;
  background: transparent;
}

/* Added by Edi  */
.answerChoices {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.main-question {
  text-align: center;
  margin-top: 30px;
}

.card__inner,
.card__inner2,
.card__inner3 {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__inner2.is-flipped {
  transform: rotateY(180deg);
}

.card__inner3.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  /* position: absolute; */ 
  width: 100%;  
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
  background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--front h2 {
  color: white;
  font-size: 32px;
}

.card__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0 0 50% 0;
  background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
}

#myVideo {
  position: fixed;
  /* right: 0;
  bottom: 0; */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.slide {
  width: 50%;
  margin: auto;
}

.main-question {
  color: white;
}

#parentLocation-container, #childLocation-container {
  color: white;
  width: 50%;
  margin: auto;
}

.darken {
  filter: brightness(50%);
}